@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.app {
  overflow: hidden;
}

.team1 {
  background: rgb(89, 189, 255);
}

.team2 {
  background: rgb(255, 99, 99);
}

.hero {
  -webkit-box-shadow: inset 0px 0px 50px 13px rgb(255, 208, 0); 
  box-shadow: inset 0px 0px 50px 13px rgb(255, 208, 0);
}

.hero__focused {
  border: 3px solid rgb(255, 208, 0);
}

.hit {
  border: 3px solid rgb(174, 0, 255);
}
