@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.app {
  overflow: hidden;
  height: 100vh;
}

.team1 {
  border: 4px solid blue;
}

.team2 {
  border: 4px solid red;
}

.hero {
  -webkit-box-shadow: 0px 0px 50px 13px rgb(255, 208, 0); 
  box-shadow: 0px 0px 50px 13px rgb(255, 208, 0);
}

.stun {
  -webkit-box-shadow: 0px 0px 50px 13px rgb(0, 204, 255); 
  box-shadow: 0px 0px 50px 13px rgb(0, 204, 255);
}

.lowHp {
  background: rgba(255, 0, 0, 0.6);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.hero__focused {
  border: 3px solid rgb(255, 208, 0);
}

.hit {
  border: 6px solid rgb(174, 0, 255);
}

.notHit {
  border: 6px solid transparent;
}
