.field {
  margin: 15px auto;
  width: 450px;
  position: relative;
  height: 59vh;
  min-height: 45vh;
}

.field__hoveredDiv {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.field__team {
  padding: 5px;
}

.field__teamRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;
}

.field__team1 .field__teamRow:last-child {
  margin-bottom: 5px;
}

.field__team1 .field__teamRow:first-child {
  margin-bottom: 0;
}

.field__team2 .field__teamRow:last-child {
  margin-bottom: 0;
}

.field__team2 .field__teamRow:first-child {
  margin-bottom: 5px;
}

.field__team1 {
  display: flex;
  flex-direction: column-reverse;
}

.field__movingHero {
  border: 2px solid orange;
}

.field__defend {
  position: absolute;
  top: 50%;
  left: -150px;
  font-size: 20px;
  font-family: 'Merriweather', serif;
  padding: 10px;
  transition: all 0.2s ease-in;
  background: rgb(114, 114, 255);
  border-radius: 10px;
  border: 1px solid brown;
}

.field__defend:hover {
  cursor: pointer;
  background: rgb(104, 104, 236);
}
